* {
  font-family: "monospace";
  font-size: 14px;
}

window#waybar {
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.5);
}

#custom-power-profile, #clock, #cpu, #network, #pulseaudio, #battery, #tray {
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
 }


